<html>
    <head>
        <title>Крутой блог</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Блог-хуёк</a></h1>
        </div>

        <div>
            <p>опубликовано: 05.11.2023, 20:00</p>
            <h2><a href="">Первый пост</a></h2>
            <p>Спустя два часа мучений на этом сайте появилось хоть что-то!</p>
        </div>

        <div>
            <p>опубликовано: 05.11.2023, 20:02</p>
            <h2><a href="">Мой второй пост</a></h2>
            <p>Ура ещё один пост!!!!</p>
        </div>
    </body>
</html>