<html lang="ru-RU">
    <head>
        <title>Всем привет</title>
        <meta charset="UTF-8">
        <style>
            h2 {color: white;
                background-color: black;
                text-align:center;
                font-family:Arial, Helvetica, sans-serif;
                font-size:30px;}
        </style>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <h1>Заголовок 1</h1>
        <h2 style="color: black;background-color: white;">Заголовок 2</h2>
        <h2>Предформатированный заголовок 2</h2>
        <span class="glyphicon glyphicon-plus"></span>
        <h3>Заголовок 3</h3>
        <h4>Заголовок 4</h4>
        <h5>Заголовок 5</h5>
        <h6>Заголовок 6</h6>
        <p>Абзац</p>
        <a href="https://vk.com">Вконтакте</a>
        <br><img src="sweet_sand.jpg" alt="Картинки нет(" width="250" height="150">
        <br><img src="Олег.jpg" alt="Картинки нет(" width="250" height="150">
        <br><button>Нажми на меня</button>
        <ul>
            <li>Сендвич</li>
            <li>Кофе</li>
            <li>Чай</li>
        </ul>
        <hr>
        <h1 style="text-align:center;">Форматированные тексты</h1>
        <hr>
        <p><small>Маленький текст</small></p>
        <p><mark>Маркированный текст</mark></p>
        <p><del>Зачеркнутый текст</del></p>
        <p><ins>Подчеркнутый текст</ins></p>
        <p><i>Курсивный текст</i></p>
        <p><em>Курсивный текст</em></p>
        <p><b>Полужирный текст</b></p>
        <p><strong>Полужирный текст</strong></p>
        <p>Текст<sub>Подстрочный текст</sub></p>
        <p>Текст<sup>Надстрочный текст</sup></p>
        <p style="color:red" >Красный текст</p>
        <p title="Приветики">Текст при наведении</p>
        <p style="background-color:black; color:white;">Белый текст на чёрном фоне</p>
        <p style="font-family:Arial, Helvetica, sans-serif;">Текст с другим шрифтом</p>
        <p style="font-size:40px;">Текст 40-м шрифтом</p>
        <p style="text-align:center;">Текст с выравниваем по центру</p>
        <p><q>Значок цитаты</q></p>
        <p><blockquote>Цитатный отступ</blockquote></p>
        <p>Расшифровка аббревиатуры<abbr title="World Health Organization">WHO</abbr></p>
        <p><bdo dir="rtl">Переопределенный текст</bdo></p>
        <!-- Это комментарий -->
        <p style="background-color:DodgerBlue;color:Tomato;border:2px solid DodgerBlue;">Текст с фоном, цветом</p>
        <p style="border:2px solid DodgerBlue;">Текст с границами</p>
        <p style="background-color:rgb(255, 99, 71);">Текст с фоном в RGBA</p>
        <p style="background-color:#ff6347;">Текст с фоном в виде шестнадцатиричного значения</p>
        <p style="background-color:hsl(9, 100%, 64%);">Текст с фоном hsl</p>
        <p style="background-color:rgba(255, 99, 71, 0.5);">Текст с полупрозрачным фоном</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        
</html>