.page-header {
    background-color: rgb(0, 0, 0);
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: rgb(255, 255, 255);
    font-size: 24pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Helvetica', bold;
}

.date {
    color: #333333;
}

.save {
    float: right;
}

#id_title {
    width: 751px;
    height: 30px;
    resize: none;
}

#id_text {
    width: 750px;
    height: 150px;
    resize: none;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    text-align:center;
    margin-top: 15px;
    margin-right: 40px;
}

.post {
    margin-bottom: 20px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
